<h2 class="text-center">Add Bus</h2>
<div class="border mx-auto w-50 p-3">

    <form [formGroup]="addform" (submit)="addBus(addform)">

        <div class="form-group mb-2">
            <div><label>Bus Name</label>
                <input class="form-control" type="text" formControlName="busName" id="businput">
            </div>
            <div *ngIf="!addform.get('busName')?.valid && (addform.get('busName')?.dirty || addform.get('busName')?.touched)"
                class="error">
                <div *ngIf="addform.get('busName')?.errors?.required">
                    <small class="text-danger">Bus Name is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Source</label>
                <input class="form-control" type="text" formControlName="source" id="sourceinput">
            </div>
            <div *ngIf="!addform.get('source')?.valid && (addform.get('source')?.dirty || addform.get('source')?.touched)"
                class="error">
                <div *ngIf="addform.get('source')?.errors?.required">
                    <small class="text-danger">Source is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Destination</label>
                <input class="form-control" type="text" formControlName="destination" id="destinput">
            </div>
            <div *ngIf="!addform.get('destination')?.valid && (addform.get('destination')?.dirty || addform.get('destination')?.touched)"
                class="error">
                <div *ngIf="addform.get('destination')?.errors?.required">
                    <small class="text-danger">Destination is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Departure Time</label>
                <input class="form-control" type="time" formControlName="departure" id="depinput">
            </div>
            <div *ngIf="!addform.get('departure')?.valid && (addform.get('departure')?.dirty || addform.get('departure')?.touched)"
                class="error">
                <div *ngIf="addform.get('departure')?.errors?.required">
                    <small class="text-danger">Departure time is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Arrival Time</label>
                <input class="form-control" type="time" formControlName="arrival" id="arrinput">
            </div>
            <div *ngIf="!addform.get('arrival')?.valid && (addform.get('arrival')?.dirty || addform.get('arrival')?.touched)"
                class="error">
                <div *ngIf="addform.get('arrival')?.errors?.required">
                    <small class="text-danger">Arrival Time is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Number of seats available</label>
                <input class="form-control" type="number" formControlName="seatsAvailable" id="seatinput">
            </div>
            <div *ngIf="!addform.get('seatsAvailable')?.valid && (addform.get('seatsAvailable')?.dirty || addform.get('seatsAvailable')?.touched)"
                class="error">
                <div *ngIf="addform.get('seatsAvailable')?.errors?.required">
                    <small class="text-danger">Number of seats is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Via</label>
                <input class="form-control" type="text" formControlName="via" id="viainput">
            </div>
            <div *ngIf="!addform.get('via')?.valid && (addform.get('via')?.dirty || addform.get('via')?.touched)"
                class="error">
                <div *ngIf="addform.get('via')?.errors?.required">
                    <small class="text-danger">Via is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Fare</label>
                <input class="form-control" type="number" formControlName="fare" id="fareinput">
            </div>
            <div *ngIf="!addform.get('fare')?.valid && (addform.get('fare')?.dirty || addform.get('fare')?.touched)"
                class="error">
                <div *ngIf="addform.get('fare')?.errors?.required">
                    <small class="text-danger">Fare is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Name</label>
                <input class="form-control" type="text" formControlName="driverName" id="driverNameinput">
            </div>
            <div *ngIf="!addform.get('driverName')?.valid && (addform.get('driverName')?.dirty || addform.get('driverName')?.touched)"
                class="error">
                <div *ngIf="addform.get('driverName')?.errors?.required">
                    <small class="text-danger">Driver name is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Age</label>
                <input class="form-control" type="number" formControlName="driverAge" id="driverAgeinput">
            </div>
            <div *ngIf="!addform.get('driverAge')?.valid && (addform.get('driverAge')?.dirty || addform.get('driverAge')?.touched)"
                class="error">
                <div *ngIf="addform.get('driverAge')?.errors?.required">
                    <small class="text-danger">Driver age is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Experience</label>
                <input class="form-control" type="number" formControlName="driverExperience" id="driverExperienceinput">
            </div>
            <div *ngIf="!addform.get('driverExperience')?.valid && (addform.get('driverExperience')?.dirty || addform.get('driverExperience')?.touched)"
                class="error">
                <div *ngIf="addform.get('driverExperience')?.errors?.required">
                    <small class="text-danger">Driver experience is required</small>
                </div>

            </div>
        </div>



        <div class="form-group mb-2 text-center">
            <button id="button" class="btn btn-success" type="submit" [disabled]="!addform.valid">Add</button>
        </div>

    </form>

</div>