<h2 class="text-center">Add Bus</h2>
<div class="border mx-auto w-50 p-3">

    <form [formGroup]="addform">

        <div class="form-group mb-2">
            <div><label>Bus Name</label>
                <input class="form-control" type="text" formControlName="busname" id="businput">
            </div>
            <div *ngIf="!addform.get('busname')?.valid && (addform.get('busname')?.dirty || addform.get('busname')?.touched)"
                class="error">
                <div *ngIf="addform.get('busname')?.errors?.required">
                    <small class="text-danger">Bus Name is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Source</label>
                <input class="form-control" type="text" formControlName="source" id="sourceinput">
            </div>
            <div *ngIf="!addform.get('source')?.valid && (addform.get('source')?.dirty || addform.get('source')?.touched)"
                class="error">
                <div *ngIf="addform.get('source')?.errors?.required">
                    <small class="text-danger">Source is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Destination</label>
                <input class="form-control" type="text" formControlName="destination" id="destinput">
            </div>
            <div *ngIf="!addform.get('destination')?.valid && (addform.get('destination')?.dirty || addform.get('destination')?.touched)"
                class="error">
                <div *ngIf="addform.get('destination')?.errors?.required">
                    <small class="text-danger">Destination is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Departure Time</label>
                <input class="form-control" type="time" formControlName="deptime" id="depinput">
            </div>
            <div *ngIf="!addform.get('deptime')?.valid && (addform.get('deptime')?.dirty || addform.get('deptime')?.touched)"
                class="error">
                <div *ngIf="addform.get('deptime')?.errors?.required">
                    <small class="text-danger">Departure time is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Arrival Time</label>
                <input class="form-control" type="time" formControlName="arrtime" id="arrinput">
            </div>
            <div *ngIf="!addform.get('arrtime')?.valid && (addform.get('arrtime')?.dirty || addform.get('arrtime')?.touched)"
                class="error">
                <div *ngIf="addform.get('arrtime')?.errors?.required">
                    <small class="text-danger">Arrival Time is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Number of seats available</label>
                <input class="form-control" type="number" formControlName="seatsavail" id="seatinput">
            </div>
            <div *ngIf="!addform.get('seatsavail')?.valid && (addform.get('seatsavail')?.dirty || addform.get('seatsavail')?.touched)"
                class="error">
                <div *ngIf="addform.get('seatsavail')?.errors?.required">
                    <small class="text-danger">Number of seats is required</small>
                </div>

            </div>
        </div>


        <div class="form-group mb-2">
            <div><label>Via</label>
                <input class="form-control" type="text" formControlName="via" id="viainput">
            </div>
            <div *ngIf="!addform.get('via')?.valid && (addform.get('via')?.dirty || addform.get('via')?.touched)"
                class="error">
                <div *ngIf="addform.get('via')?.errors?.required">
                    <small class="text-danger">Via is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Fare</label>
                <input class="form-control" type="number" formControlName="fare" id="fareinput">
            </div>
            <div *ngIf="!addform.get('fare')?.valid && (addform.get('fare')?.dirty || addform.get('fare')?.touched)"
                class="error">
                <div *ngIf="addform.get('fare')?.errors?.required">
                    <small class="text-danger">Fare is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Name</label>
                <input class="form-control" type="text" formControlName="drivername" id="drivernameinput">
            </div>
            <div *ngIf="!addform.get('drivername')?.valid && (addform.get('drivername')?.dirty || addform.get('drivername')?.touched)"
                class="error">
                <div *ngIf="addform.get('drivername')?.errors?.required">
                    <small class="text-danger">Driver name is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Age</label>
                <input class="form-control" type="number" formControlName="driverage" id="driverageinput">
            </div>
            <div *ngIf="!addform.get('driverage')?.valid && (addform.get('driverage')?.dirty || addform.get('driverage')?.touched)"
                class="error">
                <div *ngIf="addform.get('driverage')?.errors?.required">
                    <small class="text-danger">Driver age is required</small>
                </div>

            </div>
        </div>

        <div class="form-group mb-2">
            <div><label>Driver Experience</label>
                <input class="form-control" type="number" formControlName="driverexp" id="driverexpinput">
            </div>
            <div *ngIf="!addform.get('driverexp')?.valid && (addform.get('driverexp')?.dirty || addform.get('driverexp')?.touched)"
                class="error">
                <div *ngIf="addform.get('driverexp')?.errors?.required">
                    <small class="text-danger">Driver experience is required</small>
                </div>

            </div>
        </div>



        <div class="form-group mb-2 text-center">
            <button id="button" class="btn btn-success" type="submit" [disabled]="!addform.valid">Add</button>
        </div>

    </form>

</div>