<h2 class="text-center">Admin Login</h2>
<div class="border mx-auto w-50 p-3">

    <form [formGroup]="loginform">
        <div class="mb-2">
            <label>Enter Username</label>
            <input class="form-control" type="text" formControlName="mailid" />
        </div>
        <div *ngIf="
        !loginform.get('mailid')?.valid &&
        (loginform.get('mailid')?.dirty || loginform.get('mailid')?.touched)
      " class="error">
            <div *ngIf="loginform.get('mailid')?.errors?.required">
                <small class="text-danger">Email is required</small>
            </div>
            <div *ngIf="loginform.get('mailid')?.errors?.email">
                <small class="text-danger">Email is invalid</small>
            </div>
        </div>
        <div class="mb-2">
            <label>Enter Password</label>
            <input class="form-control" type="password" formControlName="pwd" />
        </div>
        <div *ngIf="
        !loginform.get('pwd')?.valid &&
        (loginform.get('pwd')?.dirty || loginform.get('pwd')?.touched)
      " class="error">
            <div *ngIf="loginform.get('pwd')?.errors?.required">
                <small class="text-danger">password is required</small>
            </div>
        </div>

        <div class="mt-5 text-center">
            <button class="btn btn-success" type="submit" [disabled]="!loginform.valid">
                Login
            </button>
        </div>
        
    </form>
</div>