<div class="text-center mt-3">
    <h2>Change Password</h2>
</div>

<!-- form -->
<div class="border mx-auto w-50 p-3">
    <form #changePassForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
            <!-- Current Password -->
            <div class="form-group">
                <label for="">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" placeholder="Current Password" name="currentPassword" 
                #currentPassword="ngModel" [(ngModel)]="changePass.currentPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
                <div *ngIf="!currentPassword?.valid && (currentPassword?.dirty || currentPassword?.touched)" class="error">
                    <div *ngIf="currentPassword.errors?.required">
                        <small class="text-danger">Password required</small>
                    </div>
                    <div *ngIf="currentPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, number</small>
                    </div>
                </div>
            </div>

            <!-- New Password -->
            <div class="form-group">
                <label for="">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword" 
                #newPassword="ngModel" [(ngModel)]="changePass.newPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
                <div *ngIf="!newPassword?.valid && (newPassword?.dirty || newPassword?.touched)" class="error">
                    <div *ngIf="newPassword.errors?.required">
                        <small class="text-danger">Password required</small>
                    </div>
                    <div *ngIf="newPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, number</small>
                    </div>
                </div>
            </div>

            <!-- Confirm New Password -->
            <div class="form-group">
                <label for="">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password" name="confirmNewPassword" 
                #confirmNewPassword="ngModel" [(ngModel)]="changePass.confirmNewPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
                <div *ngIf="!confirmNewPassword?.valid && (confirmNewPassword?.dirty || confirmNewPassword?.touched)" class="error">
                    <div *ngIf="confirmNewPassword.errors?.required">
                        <small class="text-danger">Password required</small>
                    </div>
                    <div *ngIf="confirmNewPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, number</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- Submit button -->
        <div class="text-center mt-5">
            <button [disabled]="changePassForm.invalid" type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
