<h2 class="text-center">Register</h2>
<div class="border mx-auto w-50 p-3">
    <div class="text-center">
        <label>Already have an account?</label>
        &nbsp;
        <button class="btn btn-success" type="submit">Login</button>
        <hr />
    </div>

    <form [formGroup]="loginform" >
        <div class="mb-2">
            <label>Enter FirstName</label>
            <input class="form-control" type="text" formControlName="fname" />
        </div>
        <div *ngIf="
        !loginform.get('fname')?.valid &&
        (loginform.get('fname')?.dirty || loginform.get('fname')?.touched)
      " class="error">
            <div *ngIf="loginform.get('fname')?.errors?.required">
                <small class="text-danger">First Name is required</small>
            </div>
        </div>
        <div class="mb-2">
            <label>Enter LastName</label>
            <input class="form-control" type="text" formControlName="lname" />
        </div>
        <div *ngIf="
        !loginform.get('lname')?.valid &&
        (loginform.get('lname')?.dirty || loginform.get('lname')?.touched)
      " class="error">
            <div *ngIf="loginform.get('lname')?.errors?.required">
                <small class="text-danger">Last Name is required</small>
            </div>
        </div>

        <div class="mb-2">
            <label>Enter Emailid</label>
            <input class="form-control" type="text" formControlName="mailid" />
        </div>
        <div *ngIf="
        !loginform.get('mailid')?.valid &&
        (loginform.get('mailid')?.dirty || loginform.get('mailid')?.touched)
      " class="error">
            <div *ngIf="loginform.get('mailid')?.errors?.required">
                <small class="text-danger">Email is required</small>
            </div>
            <div *ngIf="loginform.get('mailid')?.errors?.email">
                <small class="text-danger">Email is invalid</small>
            </div>
        </div>
        <div class="mb-2">
            <label>Enter Password</label>
            <input class="form-control" type="password" formControlName="pwd" />
        </div>
        <div *ngIf="
        !loginform.get('pwd')?.valid &&
        (loginform.get('pwd')?.dirty || loginform.get('pwd')?.touched)
      " class="error">
            <div *ngIf="loginform.get('pwd')?.errors?.required">
                <small class="text-danger">password is required</small>
            </div>
        </div>
        <div class="mb-2">
            <label>Confirm Password</label>
            <input class="form-control" type="password" formControlName="cpwd" />
        </div>
        <div *ngIf="
        !loginform.get('cpwd')?.valid &&
        (loginform.get('cpwd')?.dirty || loginform.get('cpwd')?.touched)
      " class="error">
            <div *ngIf="loginform.get('cpwd')?.errors?.required">
                <small class="text-danger">password is required</small>
            </div>
        </div>

        <div class="mb-2">
            <label>Enter Contact Number</label>
            <input class="form-control" type="number" formControlName="contact" />
        </div>
        <div *ngIf="
        !loginform.get('contact')?.valid &&
        (loginform.get('contact')?.dirty || loginform.get('contact')?.touched)
      " class="error">
            <div *ngIf="loginform.get('contact')?.errors?.required">
                <small class="text-danger">Contact Number is required</small>
            </div>
        </div>

        <div class="mb-2">
            <label>Enter Wallet Amount</label>
            <input class="form-control" type="number" formControlName="wallet" />
        </div>
        <div *ngIf="
        !loginform.get('wallet')?.valid &&
        (loginform.get('wallet')?.dirty || loginform.get('wallet')?.touched)
      " class="error">
            <div *ngIf="loginform.get('wallet')?.errors?.required">
                <small class="text-danger">Wallet amount is required</small>
            </div>
        </div>
        <div class="mt-5 text-center">
            <button class="btn btn-success" type="submit" [disabled]="!loginform.valid">
                Register
            </button>
        </div>
        
    </form>
</div>