<div class="container w-50 mx-auto border bg-light mt-5">
    <h3>Forgot Password?</h3>
    <form #custform="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3 mt-3">
            <label for="">Enter Email</label>
            <input type="text" class="form-control" name="email" id="" [(ngModel)] = "email" #cmailid="ngModel" email required>
        </div>
        <div *ngIf="!cmailid?.valid &&(cmailid?.dirty || cmailid?.touched)" class="error">
            <div *ngIf="cmailid.errors?.required">
                <small class="text-danger">email is required</small>
            </div>
            <div *ngIf="cmailid.errors?.email">
                <small class="text-danger">Incorrect email pattern</small>
            </div>
        </div>
        <div class="text-center mb-2">
            <button type="submit" class="btn btn-primary" [disabled]="!custform.valid">Submit</button>
        </div>
        

    </form>
</div>
