<div class="mt-5 mx-auto w-50">
    <div>
        <!-- options -->
        <div class="list-group text-center">
            <a class="list-group-item list-group-item-action active" aria-current="true">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> Dive In !
            </a>
            <a routerLink='/admin-login' class="list-group-item list-group-item-action">Admin Login</a>
            <a routerLink="/cust-register" class="list-group-item list-group-item-action">Customer Register</a>
            <a routerLink="/cust-login" class="list-group-item list-group-item-action">Customer Login</a>
          </div> 
    </div>
</div>