<h2 class="text-center">Schedule Bus</h2>
<div class="border mx-auto w-50 p-3">
     
    <form [formGroup]="scheduleform" >

    <div class="form-group"> 
        <p><label >Date</label>
            <input class="form-control" type="date" formControlName="date" id="date">
        </p>
      <div *ngIf="!scheduleform.get('busname')?.valid && (scheduleform.get('busname')?.dirty || scheduleform.get('busname')?.touched)" class="error">
        <div *ngIf="scheduleform.get('busname')?.errors?.required">
            <small class="text-danger">Date is required</small>
        </div>
            
      </div>
    </div> 

    <div class="form-group">
        <p><label >Bus ID</label>
            <input class="form-control" type="number" formControlName="busid" id="busid">
        </p>
        <div *ngIf="!scheduleform.get('source')?.valid && (scheduleform.get('source')?.dirty || scheduleform.get('source')?.touched)" class="error">
            <div *ngIf="scheduleform.get('source')?.errors?.required">
                <small class="text-danger">Bus ID is required</small>
            </div>
                
        </div>
    </div>


    
    <div class="form-group">
        <button id="button" class="btn btn-success" type="submit" [disabled]="!scheduleform.valid">Add</button>
    </div>
        
    </form>
    
 </div>